
.create_item_block {
    width: 600px;
    background-color: #F6F6F6;
    padding: 20px 40px;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
}
.form_global{
    text-align: left;
}
.btn-enviar{
    padding: 13px 20px;
    margin: 15px 0px;
    background-color: #681db6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;

}